
  <div>
    <link rel="stylesheet" href="css/styleLog.css">
    <div class="wrapper">
	<div class="container">
		<h1>Welcome {{test}}</h1>

  <form class="form">
    <input type="text" placeholder="Username" ng-model="formData.email">
    <input type="password" placeholder="Password" ng-model="formData.password">
    <button type="submit" id="login-button"  ng-click="login(formData)">Login</button>
  </form>
	</div>
  <a href="signup"  class="login-button">register</a>
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
