  <div>

    <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

    <form class="form">
      <input type="text" placeholder="Email" ng-model="formData.email">
      <input type="text" placeholder="Username" ng-model="formData.username">
      <input type="password" placeholder="Password" ng-model="formData.password">
      <button type="submit" id="login-button"  ng-click="Signup(formData)">Register</button>
    </form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<link rel="stylesheet" href="css/styleLog.css">
  </div>
