<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login to Nackchat</title>



    <script src="/socket.io/socket.io.js"></script>
    <script src="js/angular.min.js"></script>
           <script src="js/app.js"></script>
                <script src="js/postController.js"></script>
                <script src='js/jquery.min.js'></script>
               <script src="js/indexLog.js"></script>
        
        <link rel="stylesheet" href="css/styleLog.css">




  </head>

  <body>

    <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

		<form class="form" method="post" action="/login">
      <input type="text" placeholder="Email" name="email">
		<!--	<input type="text" placeholder="Username" name="username"> -->
			<input type="password" placeholder="Password" name="password">
			<button type="submit" id="login-button">Signup</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
    <script src='/js/jquery.min.js'></script>

        <script src="js/indexLog.js"></script>




  </body>
</html>
